.c-button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    transition: all 150ms ease-in-out;

    &:hover {
        background-color: #b34d00;

    }
}